@mixin epura-book {
	font-family: Epura-Book;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-regular {
	font-family: Epura-Regular;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-light {
	font-family: Epura-Light;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-semi-bold-italic {
	font-family: Epura-SemiBoldItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-medium {
	font-family: Epura-Medium;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-extra-bold-italic {
	font-family: Epura-ExtraBoldItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-bold-italic {
	font-family: Epura-BoldItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-book-italic {
	font-family: Epura-BooktItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-extra-light {
	font-family: Epura-ExtraLight;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-extra-light-italic {
	font-family: Epura-ExtraLightItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-medium-italic {
	font-family: Epura-MediumItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-light-italic {
	font-family: Epura-LightItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-regular-italic {
	font-family: Epura-RegularItalic;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-semi-bold {
	font-family: Epura-SemiBold;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-extra-bold {
	font-family: Epura-ExtraBold;
	font-weight: normal;
	font-style: normal;
}

@mixin epura-bold {
	font-family: Epura-Bold;
	font-weight: normal;
	font-style: normal;
}